@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/green";

.app {
    min-height: 100vh;
    transition: background-color, color 0.2s ease 0s;
    background: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.content-page {
    display: grid;
    grid-template-columns: auto 1fr;
}

.page-wrapper {
    padding: var(--container-padding);
}
