.ThemeSwitcher {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);
    transition: all 0.2s ease 0s;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: 0 15px;
}
