.ThemeSwitcher {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--navbar-height) / 1.2);
    height: var(--navbar-height);
    transition: all 0.2s ease 0s;
    border-radius: 50%;
}