.title {
    font: var(--font-l);
    color: var(--text-color-second);
    outline: none;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.text {
    font: var(--font-m);
    color: var(--text-color-second);
}

.error {
    .title,
    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}