.title {
    font: var(--font-l);
    color: var(--text-color-second);
    outline: none;
}

.text {
    font: var(--font-m);
    color: var(--text-color-second);
}

.error {
    .title,
    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}