.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
    svg {
        font-size: 20px;
    }
}

.clear {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
}

.outline {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    min-height: 40px;
    padding: 0 20px;
    transition: background-color 0.2s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            color: #fff;
            background-color: var(--accent-color);
        }
    }
}
