$height: 45px;

.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    color: var(--text-color);

    svg {
        font-size: 20px;
    }
}

.loading {
    pointer-events: none;
    position: relative;
}

.filled {
    background-color: var(--accent-color);
    color: #fff;
    min-height: $height;
    transition: background-color 0.2s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--hovered-accent-color);
        }
    }
}

.filled-red {
    background-color: var(--red);
    color: #fff;
    min-height: $height;
    transition: background-color 0.2s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--red-dark);
        }
    }
}

.clear {
    margin: 0;
    background: none;
    border: none;
    outline: none;
    padding: 0 5px;

    @media (any-hover: hover) {
        &:hover {
            color: var(--accent-color);
        }
    }
}

%outline-hover {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.05);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease 0s;
        transition-property: opacity, visibility;
    }

    @media (any-hover: hover) {
        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.outline {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    min-height: $height;

    @extend %outline-hover;
}

.outline-red {
    border: 1px solid var(--red);
    background-color: transparent;
    color: var(--red);
    min-height: $height;

    @extend %outline-hover;
}

.square {
    $size-m: 40px;
    $size-l: 50px;
    $size-xl: 60px;

    padding: 0;

    svg {
        font-size: 15px;
    }

    &.size_m {
        width: $size-m;
        height: $size-m;
        font-size: calc($size-m / 2);
    }

    &.size_l {
        width: $size-l;
        height: $size-l;
        font-size: calc($size-l / 2);
    }

    &.size_xl {
        width: $size-xl;
        height: $size-xl;
        font-size: calc($size-xl / 2);
    }
}