.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--second-color);
    position: relative;
    padding: var(--container-padding);
    transition: width 0.2s ease 0s;
    &.collapsed {
        width: var(--sidebar-width-collapsed);
    }
}

.collapsedBtn {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.items {
    li {
        width: 100%;
        a {
            padding: 12px 0;
            font-size: 20px;
            display: flex;
        }
    }
}