.SidebarItem {
    border-bottom: 1px solid var(--border-color);
}

.icon {
    flex: 0 0 16px;
    margin-top: -2px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 45px;
    padding: 0 15px;
}

.title {
    display: inline-block;
    margin-top: 1.5px;
    white-space: nowrap;
}

.collapsed span {
    display: none;
}