.app.dark {
    --bg-color: #1a1a1a;
    --invert-bg-color: #fff;
    --second-color: #2f2f2f;
    --text-color: #eee;
    --text-color-second: rgba(238, 238, 238, 0.9);
    --invert-text-color: #333;
    --accent-color: #299dff;
    --hovered-accent-color: #258de7;
    --border-color: rgba(255, 255, 255, 0.2);
    --code-bg: #262626;

    // skeleton
    --skeleton-color: #2f2f2f;
    --skeleton-shadow: #2f2f2f;
}
