.app.dark {
    --bg-color: #1a1a1a;
    --invert-bg-color: #fff;
    --second-color: #2f2f2f;
    --text-color: #eee;
    --text-color-second: rgba(238, 238, 238, 0.9);
    --invert-text-color: #333;
    --accent-color: #299dff;
    --hovered-accent-color: #299dff;
    --border-color: rgba(0, 0, 0, 0.2);
}
