.app.green {
    --bg-color: #32563e;
    --invert-bg-color: #fff;
    --second-color: #1c261f;
    --text-color: #eee;
    --text-color-second: rgba(238, 238, 238, 0.9);
    --invert-text-color: #333;
    --accent-color: #f6c704;
    --hovered-accent-color: #e5b903;
    --border-color: rgba(255, 255, 255, 0.2);

    // skeleton
    --skeleton-color: #1c261f;
    --skeleton-shadow: #131a15;
}
