:root {
    --bg-color: #fff;
    --invert-bg-color: #1a1a1a;
    --second-color: #eee;
    --text-color: #1e1e1e;
    --text-color-second: rgba(30, 30, 30, 0.9);
    --invert-text-color: #eee;
    --accent-color: #299dff;
}
