@use "sass:math";
@use "app/styles/index" as *;

.NotificationButton {
}

.trigger {
    height: var(--navbar-height);
    text-transform: uppercase;
    padding: 0 13px;
}

.list {
    max-width: 300px;
}
