.ArticlesPageFilters {
    margin-bottom: 20px;
}

.sortWrapper:not(:last-child) {
    margin-bottom: 15px;
}

.search {
    border-radius: 5px;
    overflow: hidden;
}

.tabs {
    margin-top: 15px;
}
