.ArticleDetailsPage {
    & > * {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.title:not(:last-child) {
    margin-bottom: 15px;
}

.form:not(:last-child) {
    margin-bottom: 30px;
}
