.Navbar {
    width: 100%;
    background-color: var(--second-color);
    padding: 0 var(--container-padding);
}

.NavbarBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
}

.links {
    display: flex;
    align-items: center;
    column-gap: 30px;

    a {
        height: var(--navbar-height);
    }
}

.switchers {
    display: flex;
}
