.Navbar {
    width: 100%;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavbarBody {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
}

.links {
    display: flex;
    align-items: center;
    column-gap: 30px;

    a {
        height: var(--navbar-height);
    }
}

.switchers {
    display: flex;
}

.loginButton,
.createButton {
    height: 100%;
    padding: 0 20px;
    border-right: 1px solid var(--border-color);
}

.title:not(:last-child) {
    margin-bottom: 15px;
}