.Navbar {
    width: 100%;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--border-color);
}

.NavbarBody {
    height: var(--navbar-height);
}

.links a {
    height: var(--navbar-height);
}

.loginButton,
.createButton {
    height: 100%;
    padding: 0 20px;
    border-right: 1px solid var(--border-color);
}

.title:not(:last-child) {
    margin-bottom: 15px;
}
