.Navbar {
    width: 100%;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--border-color);
}

.NavbarBody {
    height: var(--navbar-height);
}

.links a {
    height: var(--navbar-height);
}

.loginButton {
    padding: 0 20px;
    border-left: 1px solid var(--border-color);
}

.createButton {
    padding: 0 20px;
    border-right: 1px solid var(--border-color);
}

.title:not(:last-child) {
    margin-bottom: 15px;
}

.userDropdown{
    padding: 0 10px;
}

.button{
    height: var(--navbar-height);
    text-transform: uppercase;
    padding: 0 15px;
}
