@use "sass:math";
@use "app/styles/index" as *;

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: var(--overlay-z-index);
}
